/* UHOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

body {
    background-image: url("./images/terrain.png");
    background-repeat: no-repeat;
    font-family: "CarrotFarm";
}

.image_button {
    cursor: pointer;
    width: 400px;
    height: auto;
    border-radius: 100%;
}

img#recolter_button {
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.image_button:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
}

.image_button:active {
    transform: scale(0.99, 0.99);
}

div#displayed_score {
    float: right;
}

#displayed_score img {
    width: 50px;
    height: auto;
}

span#score {
    font-size: 40px;
    color: #ffce7e;
}

@font-face {
    font-family: "CarrotFarm";
    src: url("fonts/CarrotFarm-axD15.otf") format("opentype");
}